.header {
    padding: 14px 0;


    .brand {
        width: 30%;
        color: #fff;
        font-family: 'Cocogoose';
    }

    .side {
        width: 20%;
        color: #ff1c4a;
        font-size: 25px;
    }
}