.container {
    color: #fff;
    overflow: auto;
}

.hello {
    font-size: 18px;
    font-family: "Cocogoose";
}

.ads {
    height: 100px;
    background-color: #808080;
    border-radius: 5px;
    margin-bottom: 10px;
}

.title {
    font-size: 14px;
    font-family: "Cocogoose";
}

.box-container {
    display: flex;
    justify-content: space-between;
    overflow: auto;
}

.box {
    width: 45%;
    height: 134px;
    background-color: #242424;
    margin: 0 10px;
}