.container {
    color: #fff;
}

.hello {
    font-size: 18px;
    font-family: "Cocogoose";
}

.ads {
    height: 100px;
    background-color: #808080;
    border-radius: 5px;
    margin-bottom: 10px;
}

.title {
    font-size: 14px;
    font-family: "Cocogoose";
}

.box-container {
    display: flex;
    overflow-x: auto;
    justify-content: space-between;
    overflow: auto;
    white-space: nowrap;
}

.box {
    width: 140px;
    min-width: 140px !important;
    background-color: #111111;
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
}

.box:hover {
    background-color: #242424;
    transition: 0.5s;
}