<app-header></app-header>
<div class="container">
  <h4 class="hello">Bonjour {{"Ao"}}</h4>
  <div class="ads"></div>
  <div class="card-section">
    <h4 class="title">Récemment écoutées</h4>
    <div class="box-container">
      <div class="box">
        <img class="img-fluid" src="" alt="" />
      </div>
      <div class="box">
        <img class="img-fluid" src="" alt="" />
      </div>
      <div class="box">
        <img class="img-fluid" src="" alt="" />
      </div>
      <div class="box">
        <img class="img-fluid" src="" alt="" />
      </div>
      <div class="box">
        <img class="img-fluid" src="" alt="" />
      </div>
      <div class="box">
        <img class="img-fluid" src="" alt="" />
      </div>
    </div>
  </div>
</div>
<app-to-top></app-to-top>
<app-nav></app-nav>
