<app-header></app-header>
<div class="container">
  <h4 class="hello">Bonjour {{"Ao"}}</h4>
  <div class="ads"></div>
  <div class="card-section">
    <h4 class="title">Récemment écoutées</h4>
    <div class="box-container">
      <div class="box" *ngFor="let song of list">
        <img
          class="img-fluid"
          src="{{song.album.cover}}"
          alt="{{song.title}}"
        />
        <h6>{{song.title}}</h6>
        <p>{{song.artist.name}}</p>
      </div>
    </div>
  </div>
</div>
<app-to-top></app-to-top>
<app-nav></app-nav>
