<div class="footer d-flex justify-content-between">
  <div class="menu-item active">
    <ion-icon name="home"></ion-icon>
    <span class="menu-label">Accueil</span>
  </div>
  <div class="menu-item">
    <ion-icon name="search"></ion-icon>
    <span class="menu-label">Chercher</span>
  </div>
  <div class="menu-item">
    <ion-icon name="heart"></ion-icon>
    <span class="menu-label">Favoris</span>
  </div>
  <div class="menu-item">
    <ion-icon name="person-circle"></ion-icon>
    <span class="menu-label">Mon compte</span>
  </div>
</div>
